<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="jogo/css/styles.css">
<head>
    {% include 'jogos/partials/head.html' %}
    <title>{% block title %}{% endblock title %}jogos</title>
</head>
<body>
    {% include 'jogos/partials/header.html' %}
    {% include 'jogos/partials/search.html' %}
    <main class= 'main-content-container'>
        {% block content %}{% endblock content %}
    </main>

    {% include 'jogos/partials/footer.html' %}              
</body>

</html>