<div class="jogo jogo-list-item">
    <div class="jogo-cover">
        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="tempo">
    </div>
    <div class="jogo-title-container">
        <h2 class="jogo-title">Lorem ipsum, dolor sit amet </h2>
        <div class="jogo-author">
            <span class="jogo-author-item">
                <i class="fas fa-user"></i>
                JUAN HERIQUE
            </span>
            <span class='jogo-author-item'>
                <i class="fas fa-calendar-alt"></i>
                10/08/2022 às 9:30
            </span>
            <span class="jogo-author-item">
                <a href="/jogo/category/aventura/">
                    <i class='fas fa-layer-group'></i>
                    <span>Café da manhã</span>
                </a>
            </span>
        </div>
    </div>
    <div class="jogo-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, est minima! Ut explicabo nihil
            aliquam maxime id ipsam labore vitae, eligendi temporibus est fuga inventore? Sint reiciendis
            neque accusamus porro!</p>
    </div>
    <div class="jogo-meta-container">
        <div class="jogo-meta-title">
            <h3 class="jogo-meta-title "><i class="fas fa-stopwatch">Categoria</i></h3>
            <div class="jogo-meta-text">
                0 minutos
            </div>
        </div>
        <div class="jogo-meta jogo serving ">
            <h3 class="jogo-meta-title"><i class='fas fa-pizza-slice'>Horas de jogo</i></h3>
            <div class="jogo-meta-text">
                0 Porções
            </div>
        </div>
    </div>
    <footer class='jogo-footer'>
        <a class="jogo-read-more button button-dark button-full-width" href="/jogos">
            <i class='fas fa-eye'>
                <span>ver mais...</span>
            </i>
        </a>
    </footer>

</div>

</div>